@import 'reset';

.wrap {
	width: 1000px;
	height: 500px;
	border: 1px solid red;
	position: relative;

	#box {
		width: 100px;
		height: 100px;
		background: lightblue;
		position: absolute;
		left: 800px;
		top: 0;
	}
}
